<div class="view">
    <input 	class		    = "toggle"
            [ngModel]="this.sigItemState().item.done"
            (ngModelChange)="toggleTask(!this.sigItemState().item.done)"
            type		    = "checkbox"
            name            = "done"
    />
    <label class="texte" (dblclick)="this._sigEditing.set(true)">
        {{this.sigItemState().item.label}}
    </label>
    <button class="destroy" (click)="this.deleteTask()"></button>
  </div>
  <form (submit)="changeLabel(newTextInput.value)">
    <input  #newTextInput
            name      = "newTextInput"
            class     = "edit"
            [ngModel]="this.sigItemState().item.label"
            />


  </form>
